body {
    background-color: #ABEDC6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-top: 30px;
    border-radius: 5px;
    border: 3px solid  #559780;
    padding: 20px;
    background-color: #98D9C2;

}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 5px;
    background-color:  #559780;
    border: 2px solid white;
    font-size: 18px;
    color: white;

}